.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-heading {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    font-size: 28px;
    color: firebrick;
}
.form {
    margin: 0 auto;
    max-width: 1000px;
}

.form__input {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(170, 14, 14);
    border-radius: 8px;
}

.form__area {
    padding: 5px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 15px;
    min-height: 30px;
    border: 1px solid rgb(170, 14, 14);
    border-radius: 8px;
}

.form__btn {
    display: block;
    margin: 0 auto;
    color: darkblue;
    padding: 5px;
    border: 1px solid rgb(170, 14, 14);
    border-radius: 8px;
    background-color: #fff;
}